@model IEnumerable<ExersiseInfoModel>

@{
    ViewData["Title"] = "All Exersises";
}

<h2 style="color:white">All Exersises</h2>

<table class="table table-bordered">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="/exersises/exersises/details/@item.Id">
                       <img src="@item.ImageUrl" width="300" alt="@item.Name -- Muscle group: @item.MuscleGroups" class="img-responsive" />
                    </a>
                </td>
                <td style="color:white">@item.Name -- Muscle group: @item.MuscleGroups</td>
                @if (User.IsInRole(RoleConstants.AdminRole))
                {
                    <td>
                        <a class="btn btn-sm btn-warning" href="/exersises/exersises/edit/@item.Id">Edit</a>
                        <a class="btn btn-sm btn-danger" href="/exersises/exersises/delete/@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>